/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

ul{
    list-style: none;
}
  
a{
    text-decoration: none;
}

body{
    background-color: black;
}

.container{
    width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

.item{
    display: flex;
    gap: 40px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 17px;
}

.list-link{
    color: #FFF;
}


.list-link:hover{
    color: rgb(234, 26, 26) ;
}

.box{
    color: #FFF;
    font-size: 51px;
    margin-left: 20px;
    background-color: black;
    height: 110px;
}

.box:hover{
    color: gold;
    background-color: floralwhite;
}

.box1{
    display: flex;
}

.box2{
    color: #FFF;
    font-size: 51px;
    margin-top: 101px;
    background-color: black;
}

.box2:hover{
    color: aquamarine;
    background-color: hotpink;
}

.ddd{
    height: 50px;
    color: black;
    background-color: blueviolet;
}


.ddd:hover{
    color: red;
    background-color: blue;
}

.box4{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.box6{
    color: #FFF;
    font-size: 50px;

}

.box6{
    height: 50px;
    color: black;
    background-color: red;
}

.box6:hover{
    color: aqua;
    background-color: chartreuse;
}

.box5{
    display: flex;
}

.box5-right{
    margin-left: 50px;
}

.box7{
    color: #FFF;
}

.box7{
    height: 50px;
    color: chocolate;
    background-color: darkblue;
}

.box7:hover{
    color: darkgreen;
    background-color: fuchsia;
}

.box8{
    color: white;
    background-color: aqua;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}

.box9{
    margin-top: 30px;
}

.box10{
    color: #FFF;
    font-size: 51px;
    margin-left: 30px;
    margin-top: 20px;
}

.box11{
    display: flex;
}

.box14{
    color: #FFF;
    background-color: black;
}

.box14:hover{
    color: darkred;
    background-color: lab(lightness a b);
}

.box12{
    font-size: 22px;
    color: #FFF;
    background-color: black;
}

.box12:hover{
    color: darkgray;
    background-color:dodgerblue;
}

.box14{
    margin-top: 30px;
}

.box15{
    color: #FFF;
    font-size: 57px;
    margin-left: 40px;
}

.box13{
    display: flex;
}

.box16{
    color: #FFF;
}

.box17{
    margin-left: 50px;
}

.box18{
    font-size: 18px;
    background-color: aqua;
    color: #FFF;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    margin-top: 100px;
}

.box20{
    color: #FFF;
    font-size: 65px;
}

.box21{
    color: #FFF;
}

.box22{
    color: #FFF;
}

.box19{
    display: flex;
}
.box23{
    margin-left: 50px;
}

.box25{
    color: #FFF;
    font-size: 65px;
}

.box24{
    display: flex;
    gap: 90px;
}

.box26{
    margin-left: 90px;
    margin-top: 50px;
}

.box29{
    margin-top: 30px;
    margin-left: 20px;
}

.box27{
    display: flex;
    gap: 16px;
}

.box28{
    background-color: brown;
    width: 423px;
    height: 321px;
    border-radius: 20px;
    margin-top: 50px;
}

.box30{
    color: #FFF;
    font-size: 36px;
    margin-left: 20px;
}

.box31{
    color: #FFF;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 19px;
}


.box32{
    background-color: brown;
    width: 423px;
    height: 321px;
    border-radius: 20px;
    margin-top: 50px;
}

.box33{
    margin-left: 20px;
    margin-top: 19px;
}

.box34{
    color: #FFF;
    font-size: 36px;
    margin-left: 20px;
    margin-top: 19px;
}

.box35{
    color: #FFF;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 19px;
}

.box36{
    background-color: brown;
    width: 423px;
    height: 321px;
    border-radius: 20px;
    margin-top: 50px;
}

.box37{
    margin-left: 20px;
    margin-top: 19px;
}

.box38{
    color: #FFF;
    font-size: 36px;
    margin-left: 20px;
    margin-top: 19px;
}

.box39{
    color: #FFF;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 19px;
}

.box41{
    background-color: brown;
    width: 423px;
    height: 321px;
    border-radius: 20px;
    margin-top: 50px;
}

.box42{
    margin-left: 20px;
    margin-top: 19px;
}

.box43{
    color: #FFF;
    font-size: 39px;
    margin-left: 20px;
    margin-top: 19px;
}

.box44{
    color: #FFF;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 19px;
}

.box45{
    background-color: brown;
    width: 423px;
    height: 321px;
    border-radius: 20px;
    margin-top: 50px;
}

.box46{
    margin-left: 20px;
    margin-top: 19px;
}

.box47{
    color: #FFF;
    font-size: 35px;
    margin-left: 20px;
    margin-top: 19px;
}

.box48{
    color: #FFF;
    font-size: 23px;
    margin-left: 20px;
    margin-top: 19px;
}

.box49{
    background-color: brown;
    width: 423px;
    height: 321px;
    border-radius: 20px;
    margin-top: 50px;
}

.box50{
    margin-left: 20px;
    margin-top: 19px;
}

.box51{
    color: #FFF;
    font-size: 36px;
    margin-left: 20px;
    margin-top: 19px; 
}
.box52{
    color: #FFF;
    font-size: 23px;
    margin-left: 20px;
    margin-top: 19px; 
}

.box40{
    display: flex;
    gap: 16px;
}

.box53{
    width: 222px; 
    height: 45px;
    margin-top: 100px
}

.box55{
    color: #FFF;
    font-size: 17px;
}

.box56{
    display: flex;
    gap: 205px;
    margin-right: 100px;
}

.box54{
    margin-top: 100px;
}

.box59{
    color: #FFF;
    font-size: 17px;
}

.box60{
    color: #FFF;
    font-size: 17px;
}

.box61{
    color: #FFF;
    font-size: 17px;
}

.box62{
    color: #FFF;
    font-size: 17px;
}

.box63{
    color: #FFF;
    font-size: 17px;
}

.box69{
    color: #FFF;
    font-size: 17px;
}

.box57{
    margin-bottom: 700px;
    margin-top: 80px;
}
.box65{
    display: flex;
}

.box67{
    margin-top: 90px;
}

.box68{
    background-color: aqua;
    width: 70px;
    height: 30px;
    color: #FFF;
    text-align: center;
    border-radius: 5px;
}